
@{
    ViewData["Title"] = "HomePage";
    Layout = "~/Areas/User/Views/Shared/_Layout.cshtml";
}

<h1>HomePage</h1>

<body>
    <div class="text-body">
        <p>
            Logged In
        </p>
    </div>
</body>

